---
import { quote } from './config';
---

<div class="mt-8 text-center">
  <p class="unset relative">
    <i class="icon-quote-left text-primary text-[1.6rem] relative left-0 -top-[4px]"></i>
    <span class="quote-text text-text-bold">{quote}</span>
    <i class="icon-quote-right text-primary text-[1.6rem] relative right-0 -top-[4px]"></i>
  </p>
</div>

<style>
  .quote-text {
    font-family: 'Noto Serif', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    opacity: 0;
    animation: fadein 0.4s ease forwards;
  }
</style>
