---
---

<div class="mt-8 flex justify-center">
  <div class="line-seperator"></div>
</div>

<style>
  .line-seperator {
    width: 10rem;
    height: 1px;
    background: theme('colors.bg.border');
  }
</style>
