---
import waveImage from 'assets/wave.png?url';
import { APP_CONFIG } from 'appConfig';
import { technologies } from './config';
---

<Fragment>
  <p>
    <span
      >Hey there&nbsp;<img class="hand-wave" src={waveImage} width="20" height="20" alt="wave" />&nbsp;&nbsp;I’m Fateh,
      a Front-End engineer based in <span class="font-[500] text-text-bold">Chennai, India</span>.</span
    >
  </p>
  <p>
    I have over <span class="font-[500] text-text-bold">5 years</span> of Front-End engineering experience. I specialize
    in developing performant web applications that scale well over time. My expertise lies in utilizing cutting-edge tools
    and technologies, with a strong focus on React.js and Next.js.
  </p>
  <p>
    I am currently leading the front-end team at <a
      href="https://www.andisor.com/"
      target="_blank"
      rel="noopener noreferrer">Andisor</a
    >, where we are building the next-generation wholesale e-commerce platform.
  </p>
</Fragment>
<span class="font-[500] text-text-bold">Front-End is my passion!</span> I enjoy exploring its ever-changing world, as there's
always something new to learn and experiment with. In my free time, I maintain <span class="font-[500] text-text-bold"
  >open-source</span
> packages used by industry leaders like <a href="https://www.jetbrains.com/" target="_blank" rel="noopener noreferrer"
  >JetBrains</a
> and help review front-end content for <a href="https://logrocket.com/" target="_blank" rel="noopener noreferrer"
  >LogRocket</a
> too.
<p>
  <h5 class="mb-3">Few technologies in my current stack:</h5>
  <div class="tech-item-grid">
    {
      technologies.map((item, index) => (
        <div class="tech-item" style={`animation-delay: ${index * 0.06}s`}>
          <i class="icon-arrow-right text-primary mr-3" />
          <span>{item}</span>
        </div>
      ))
    }
  </div>
</p>
<p>
  My most recent obsession has been around dev tooling and bundlers, and I’m always open to chat about all things
  front-end, performance, and open source!
</p>
<p>
  You can reach me at <a
    href={`mailto:${APP_CONFIG.USER.social.email}`}
    rel="nofollow"
    onclick="this.href=this.href.replace('@@','.')">{APP_CONFIG.USER.social.email.replace('@@', '.')}</a
  >
</p>

<style>
  .hand-wave {
    display: inline-block;
    margin-bottom: 4px;
  }

  .tech-item-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;

    @media (max-width: theme('screens.lg.max')) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: theme('screens.md.max')) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: theme('screens.sm.max')) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .tech-item {
    opacity: 0;
    animation: fadein 0.4s ease forwards;

    & > i {
      transition: transform 0.2s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover > i {
        transform: translateX(5px);
      }
    }
  }
</style>
