---
import waveImage from 'assets/wave.png?url';
import { APP_CONFIG } from 'appConfig';
import { technologies } from './config';
---

<Fragment>
  <p>
    <span
      >Hey there&nbsp;<img class="hand-wave" src={waveImage} width="20" height="20" alt="wave" />&nbsp;&nbsp;I’m Fateh,
      a Front-End engineer based in <span class="font-[500] text-text-bold">Chennai, India</span>.</span
    >
  </p>
  <p>
    With prior experience at <a href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer"
      >Thoughtworks</a
    >, I have <span class="font-[500] text-text-bold">4 years</span> of experience as a Front-End engineer developing performant
    web applications at scale using cutting-edge tools and technologies, with expertise in React.js.
  </p>
  <p>
    I am currently on a sabbatical, dedicating myself to personal growth, well-being, and professional development.
    During this time, I developed <span class="font-[500] text-text-bold">open-source</span> tools and pursued technical
    writing.
  </p>
</Fragment>
<span class="font-[500] text-text-bold">Front-End is my passion!</span> I enjoy exploring its ever-changing world as there's
always something new to learn and experiment with. I like to create an impactful first impression for users that makes them
want to stay on the page.
<p>
  I have a natural curiosity and drive, and I find it exciting to build something that is accessible to people all
  around the world!
</p>
<p>
  <h5 class="mb-3">Few technologies in my current stack:</h5>
  <div class="tech-item-grid">
    {
      technologies.map((item, index) => (
        <div class="tech-item" style={`animation-delay: ${index * 0.06}s`}>
          <i class="icon-arrow-right text-primary mr-3" />
          <span>{item}</span>
        </div>
      ))
    }
  </div>
</p>
<p>
  My most recent obsession has been around dev tooling and bundlers, and I’m always open to chat about all things
  front-end, performance, and open source!
</p>
<p>
  You can reach me at <a
    href={`mailto:${APP_CONFIG.USER.social.email}`}
    rel="nofollow"
    onclick="this.href=this.href.replace('@@','.')">{APP_CONFIG.USER.social.email.replace('@@', '.')}</a
  >
</p>

<style>
  .hand-wave {
    display: inline-block;
    margin-bottom: 4px;
  }

  .tech-item-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;

    @media (max-width: theme('screens.lg.max')) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: theme('screens.md.max')) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: theme('screens.sm.max')) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .tech-item {
    opacity: 0;
    animation: fadein 0.4s ease forwards;

    & > i {
      transition: transform 0.2s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover > i {
        transform: translateX(5px);
      }
    }
  }
</style>
