---
import codeImage from 'assets/code.svg';
import magicImage from 'assets/magic.svg';
---

<section class="sm:mt-4 mb-4">
  <div class="flex flex-col-reverse sm:grid sm:grid-cols-[2fr_180px] items-start sm:pt-4 overflow-hidden">
    <div class="flex flex-col sm:pr-8">
      <h1 class="font-extrabold text-[2em] md:text-[2.5em] pb-4 text-black leading-[1.25]">
        <span class="dark:inline text-text-heading intro-heading"
          >Hi, I'm <span
            class="bg-clip-text text-transparent bg-gradient-to-br from-[#fbbf24] via-[#f59e0b] to-[#d97706] dark:from-[#67e8f9] dark:via-[#22d3ee] dark:to-[#06b6d4]"
            >Fateh</span
          >
        </span>
      </h1>

      <p class="mb-4 sm:mb-6">
        <span>Front-End Engineer, Open Sourcerer</span>
        <span class="inline-block w-8 h-8 magic-vector-wrapper">
          <img src={magicImage} alt="magic" class="inline w-full magic-vector" />
        </span>
        <span>
          &nbsp;, Previously @<a href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer">Thoughtworks</a>. Love
          engineering clean and performant web applications.
        </span>
      </p>
      <div>
        <a class="unset text-xl hover:text-text-link" href="mailto:fa7ehak@gmail.com">
          <i class="fa-solid fa-envelope" aria-hidden="true" title="Mail"></i>
          <span class="fa-sr-only">Fateh's Mail</span>
        </a>
        <a class="unset text-xl hover:text-text-link ml-4" href="https://github.com/fatehak" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
          <span class="fa-sr-only">Fateh's GitHub</span>
        </a>
        <a class="unset text-xl hover:text-text-link ml-4" href="https://linkedin.com/in/fatehak" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i>
          <span class="fa-sr-only">Fateh's LinkedIn</span>
        </a>
      </div>
    </div>
    <div class="w-full flex justify-center mb-6 sm:mb-0 code-flip">
      <div class="w-16 h-16 sm:w-20 sm:h-20">
        <img src={codeImage} alt="coding" />
      </div>
    </div>
  </div>
</section>

<style>
  .intro-heading {
    font-family: Pacifico, cursive;
    letter-spacing: 0.2rem;
  }

  .magic-vector-wrapper {
    margin-right: -14px;
  }

  .magic-vector {
    margin: -20px -10px 0 -6px;
  }

  .code-flip {
    backface-visibility: visible;
    animation-name: flip;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }

  @keyframes flip {
    0% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }

    40% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 80px) rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }

    50% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 80px) rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }

    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }

    100% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
  }
</style>
