---
import Social from 'components/Social.astro';
import magicImage from 'assets/magic.svg';
import { APP_CONFIG } from 'appConfig';
---

<section class="mt-4 mb-4 md:mt-0">
  <div class="grid grid-cols-[2fr_180px] items-start pt-4 md:pt-0 overflow-hidden md:flex md:flex-col-reverse">
    <div class="flex flex-col pr-8 md:pr-0">
      <h1 class="pb-4 text-text-heading tracking-wider intro-heading text-[3.1rem] md:text-[2.5rem] leading-[1.25]">
        <span>Hi, I'm&nbsp;</span>
        <span
          class="bg-clip-text animate-gradient text-transparent bg-gradient-to-br from-[#ffd388] via-[#f59e0b] to-[#ffd388] dark:from-[#8AFFFF] dark:via-[#22d3ee] dark:to-[#8AFFFF]"
        >
          {APP_CONFIG.USER.shortName}
        </span>
      </h1>

      <p class="mb-6 sm:mb-4">
        <span>Front-End Engineer, Open Sourcerer</span>
        <span class="inline-block w-8 h-8 magic-vector-wrapper">
          <img src={magicImage} alt="magic" class="inline w-full magic-vector" />
        </span>
        <span>
          &nbsp;, Previously @<a href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer">Thoughtworks</a>. Love
          engineering clean and performant web applications.
        </span>
      </p>
      <Social />
    </div>
    <div class="w-full flex justify-center md:mb-6 code-flip">
      <div class="w-20 h-20 sm:w-16 sm:h-16">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          fill="none"
          stroke="#1fd0eb"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"><path d="M64 88l-48 40 48 40m128-80l48 40-48 40M160 40L96 216"></path></svg
        >
      </div>
    </div>
  </div>
</section>

<style>
  .intro-heading {
    font-family: Pacifico, cursive;
  }

  .animate-gradient {
    animation: gradient-transition 4s ease infinite;
  }

  .magic-vector-wrapper {
    margin-right: -0.88rem;
  }

  .magic-vector {
    margin: -1.2rem -2rem 0 -0.4rem;
  }

  .code-flip {
    backface-visibility: visible;
    animation-name: flip;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }

  @keyframes gradient-transition {
    0%,
    100% {
      background-position: 0;
      background-size: 200% 200%;
    }

    50% {
      background-position: 100%;
      background-size: 200% 200%;
    }
  }

  @keyframes flip {
    0% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }

    40% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 80px) rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }

    50% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 80px) rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }

    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }

    100% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
  }
</style>
