---
import Social from 'components/Social.astro';
import magicImage from 'assets/magic.svg';
import { APP_CONFIG } from 'appConfig';
---

<section class="mt-12 mb-14 overflow-hidden">
  <div class="flex flex-col pr-8 md:pr-0">
    <h1 class="pb-4 leading-[1.25]">
      <span>Hi <span class="hand-wave mr-2">👋🏻</span> I’m</span>
      <span
        class="bg-clip-text text-transparent bg-gradient-to-br from-[#ffd388] via-primary to-[#ffd388] dark:from-[#8AFFFF] dark:via-primary dark:to-[#8AFFFF] my-name"
      >
        {APP_CONFIG.USER.shortName}
      </span>
    </h1>

    <p class="mb-6 sm:mb-4">
      <span>Front-End Engineer, Open Sourcerer</span>
      <span class="inline-block w-8 h-8 magic-vector-wrapper">
        <img src={magicImage} alt="magic" class="inline w-full magic-vector" width="32" height="32" />
      </span>
      <span>
        , Previously @<a href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer">Thoughtworks</a>. Love engineering
        clean and performant web applications.
      </span>
    </p>
    <Social />
  </div>
</section>

<style>
  .my-name {
    animation: gradient-move 4s ease infinite;
  }

  @keyframes gradient-move {
    0%,
    100% {
      background-position: 0;
      background-size: 200% 200%;
    }

    50% {
      background-position: 100%;
      background-size: 200% 200%;
    }
  }

  .hand-wave {
    transform-origin: 70% 70%;
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
  }

  .hand-wave:hover {
    animation-delay: none;
    animation-iteration-count: infinite;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(10deg);
    }

    10% {
      transform: rotate(20deg);
    }

    20% {
      transform: rotate(-8deg);
    }

    30% {
      transform: rotate(20deg);
    }

    40% {
      transform: rotate(-4deg);
    }

    50% {
      transform: rotate(10deg);
    }

    60%,
    100% {
      transform: rotate(0deg);
    }
  }

  .magic-vector-wrapper {
    margin-right: -0.88rem;
  }

  .magic-vector {
    margin: -1.2rem -2rem 0 -0.4rem;
  }
</style>
