@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
    scroll-padding-top: theme('height.navbar'); /* for navbar */
    font-family: theme('fontFamily.body');
    font-size: 100%;
    font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
    line-height: 1.84;
    color: theme('colors.text.body');
    text-size-adjust: 100%;
    tab-size: 2;
    background: theme('colors.bg.body');

    -webkit-tap-highlight-color: transparent;
  }

  ::selection {
    color: theme('colors.text.selection');
    background: theme('colors.bg.selection');
  }

  body::before {
    content: '';
    position: fixed;
    z-index: -999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(
      180deg,
      theme('colors.bg.body'),
      theme('colors.bg.body') theme('height.navbar'),
      theme('colors.bg.gradient')
    );
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: theme('colors.text.heading');
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.0669rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.06rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1rem;
    font-weight: 500;
  }

  p:not(.unset) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  a:not(.unset) {
    font-weight: 500;
    color: theme('colors.text.bold');
    text-decoration: none;
    box-shadow: inset 0 -2px 0 0 theme('colors.text.link');
    transition: all 0.2s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: theme('colors.bg.body');
        box-shadow: inset 0 -24px 0 0 theme('colors.text.link');
      }
    }
  }

  a:focus-visible,
  button:focus-visible {
    outline: 2px dashed theme('colors.secondary.DEFAULT');
  }

  strong:not(.unset) {
    font-weight: 600;
    color: theme('colors.text.bold');
  }

  code:not(.unset) {
    font-family: theme('fontFamily.mono');
    font-size: inherit;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &::before {
      content: '`';
      font-weight: 600;
    }

    &::after {
      content: '`';
      font-weight: 600;
    }
  }

  [data-theme='light'] code:not(.unset) {
    color: theme('colors.text.code');
    filter: invert(1);
  }

  mark:not(.unset) {
    color: theme('colors.text.selection');
    background-color: theme('colors.bg.selection');
  }

  sup:not(.unset) {
    top: -5px;
    left: 0.5px;
    font-size: 0.6rem;
    font-weight: 500;
  }

  img {
    /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
    content-visibility: auto;
  }

  /* animations */
  @keyframes fadein {
    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    to {
      transform: translateY(0) translateZ(0);
    }
  }
}
