@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* for navbar */
    font-family: theme('fontFamily.body');
    font-size: 100%;
    font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
    line-height: 1.84;
    color: theme('colors.text.body');
    text-rendering: optimizelegibility;
    tab-size: 4;
    background-color: theme('colors.bg.body');
    transition: background-color 0.3s ease;
  }

  ::selection {
    color: theme('colors.text.selection');
    background: theme('colors.bg.selection');
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: theme('colors.text.heading');
  }

  h1 {
    transform: translate3d(0, 100%, 0);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.25;
    animation: slide-up 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-delay: 0.1s;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.3px;
    font-weight: bold;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h6 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  a:not(.unset) {
    font-weight: 500;
    color: theme('colors.text.bold');
    text-decoration: none;
    border-bottom: 1.25px solid theme('colors.text.link');
    transition: color 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: theme('colors.text.link');
      }
    }
  }

  strong {
    font-weight: 700;
    color: theme('colors.text.bold');
  }

  mark {
    color: theme('colors.text.selection');
    background-color: theme('colors.bg.selection');
  }

  code:not(pre code, .unset) {
    margin-bottom: 1.25em;
    padding: 0.125rem 0.25rem;
    font-size: 0.875em;
    font-weight: 700;
    color: theme('colors.text.code');
    background-color: theme('colors.bg.code');
    border: 1px solid theme('colors.border.code');
    border-radius: 0.25rem;
  }

  html.dark code:not(pre code) {
    background-color: rgb(var(--color-bg-code) / 15%);
    border-color: rgb(var(--color-border-code) / 15%);
  }

  ul:not(.unset) {
    padding-left: 0;
    list-style: none;
  }

  ul > li {
    position: relative;
    padding-left: 1.375rem;
  }

  ul:not(.unset) > li::before {
    content: '»';
    position: absolute;
    left: 0;
    color: rgb(var(--color-text-muted));
  }

  ol:not(.unset) {
    padding-left: 1.125rem;
  }

  ol:not(.unset) > li::marker {
    color: rgb(var(--color-text-muted));
  }

  ul:not(.unset) > li,
  ol:not(.unset) > li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* utils */
  .gradient-text {
    color: transparent;
    background-image: linear-gradient(
      to bottom right,
      theme('colors.primary.light'),
      theme('colors.primary.DEFAULT'),
      theme('colors.primary.light')
    );
    background-clip: text;
    animation: gradient-move 4s ease infinite;
  }
}

/* animations */
@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gradient-move {
  0%,
  100% {
    background-position: 0;
    background-size: 200% 200%;
  }

  50% {
    background-position: 100%;
    background-size: 200% 200%;
  }
}
