/* dark theme */
[data-theme='dark'] {
  --color-bg-body: 16 24 34; /* #101822 */
  --color-bg-gradient: 11 16 24; /* #0b1018 */
  --color-primary: 34 211 238; /* #22d3ee */
  --color-primary-light: 138 255 255 /* #8affff */;
  --color-primary-dark: 3 163 191 /* #03a3bf */;
  --color-secondary: 248 113 113; /* #f87171 */
  --color-text-selection: 0 0 0; /* #000 */
  --color-bg-selection: 34 211 238; /* #22d3ee */
  --color-text-heading: 255 255 255; /* #fff */
  --color-text-body: 209 213 219; /* #d1d5db */
  --color-text-bold: 255 255 255; /* #fff */
  --color-bg-code: 26 34 44; /* #1a222c */
  --color-border-code: 39 51 62; /* #27333e */
  --color-text-code: 156 163 175; /* #9ca3af */
  --color-text-code-inline: 209 213 219; /* #d1d5db */

  color-scheme: dark;
}

/* light theme */
[data-theme='light'] {
  --color-bg-body: 255 255 255; /* #fff */
  --color-bg-gradient: 249 250 253; /* #f9fafd */
  --color-primary: 244 112 114; /* #f47072 */
  --color-primary-light: 239 182 173; /* #efb6ad */
  --color-primary-dark: 235 110 114; /* #eb6e72 */
  --color-secondary: 34 212 242; /* #22d4f2 */
  --color-text-selection: 255 255 255; /* #fff */
  --color-bg-selection: 244 112 114; /* #f47072 */
  --color-text-heading: 17 24 39; /* #111827 */
  --color-text-body: 55 65 81; /* #374151 */
  --color-text-bold: 17 24 39; /* #111827 */
  --color-bg-code: 32 42 53; /* #202a35 */
  --color-border-code: 47 61 75; /* #e7e7e7 */
  --color-text-code: 175 182 200; /* #afb6c8 */
  --color-text-code-inline: 209 213 219; /* #d1d5db */

  color-scheme: light;
}
