/* dark theme */
[data-theme='dark'] {
  --color-bg-body: 16 24 34; /* #101822 */
  --color-primary: 34 211 238; /* #22d3ee */
  --color-primary-light: 138 255 255 /* #8affff */;
  --color-primary-dark: 3 163 191 /* #03a3bf */;
  --color-secondary: 248 113 113; /* #f87171 */
  --color-text-selection: 0 0 0; /* #000 */
  --color-bg-selection: 34 211 238; /* #22d3ee */
  --color-text-heading: 255 255 255; /* #fff */
  --color-text-body: 209 213 219; /* #d1d5db */
  --color-text-bold: 255 255 255; /* #fff */
  --color-text-muted: 156 163 175; /* #9ca3af */
  --color-text-code: 255 255 255; /* #fff */
  --color-bg-code: 234 179 8; /* #eab308 */
  --color-border-code: 254 243 199; /* #fef9c3 */

  color-scheme: dark;
}

/* light theme */
[data-theme='light'] {
  --color-bg-body: 255 255 255; /* #fff */
  --color-primary: 244 112 114; /* #f47072 */
  --color-primary-light: 239 182 173; /* #efb6ad */
  --color-primary-dark: 235 110 114; /* #eb6e72 */
  --color-secondary: 34 212 242; /* #22d4f2 */
  --color-text-selection: 255 255 255; /* #fff */
  --color-bg-selection: 244 112 114; /* #f47072 */
  --color-text-heading: 17 24 39; /* #111827 */
  --color-text-body: 55 65 81; /* #374151 */
  --color-text-bold: 17 24 39; /* #111827 */
  --color-text-muted: 107 114 128; /* #6b7280 */
  --color-text-code: 0 0 0; /* #000 */
  --color-bg-code: 255 247 237; /* #fff7ed */
  --color-border-code: 255 237 213; /* #ffedd5 */

  color-scheme: light;
}
