---
import PageLayout from 'layouts/PageLayout.astro';
import Heading from 'components/Heading.astro';
---

<PageLayout>
  <Heading text="404 Not Found." highlight="Not Found." />
  <p class="mb-4">
    Maybe this link is broken. Maybe something was deleted, or moved. In any case, there's nothing to see here...
  </p>
  <a href="/">Go Home</a>
</PageLayout>
