---
import PageLayout from 'layouts/PageLayout.astro';
import PageSEO from 'components/PageSEO.astro';
import { APP_CONFIG } from 'appConfig';

const techItems = ['React, Next.js', 'HTML, CSS', 'Node.js', 'Webpack, Vite', 'Jest', 'AWS', 'GitHub Actions', 'Docker', 'CI/CD'];
---

<PageLayout>
  <PageSEO title={`${APP_CONFIG.USER.name} | About`} slot="seo" />
  <section class="mt-12">
    <div class="overflow-hidden mb-4"><h1>About <span class="gradient-text">Me</span></h1></div>
    <p>
      <span
        >Hey there&nbsp;👋🏻&nbsp;&nbsp;I’m Fateh, a Senior Front-End engineer based in <span class="font-[500] text-text-bold"
          >Chennai, India</span
        >. Previously worked with</span
      >
      <a href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer">Thoughtworks</a>
      <span>, currently on a mini personal break.</span>
    </p>
    <p class="mt-3">
      I have <span class="font-[500] text-text-bold">4+ years</span> of experience engineering complex, performant web apps in diverse domains
      with modern tools and technologies.
    </p>
    <p class="mt-3">
      Working on the front-end has always been my passion. I get a kick out of exploring the ever-changing world of front-end tech since
      there is always something new to learn and experiment with. <span class="sm:hidden"
        >I like to give that first impression which makes the user want to stay within the page.</span
      >
    </p>
    <p class="mt-3 text-justify md:text-left">
      My most recent obsession has been around dev tooling and bundlers, and I’m always open to talk about all things front-end, performance
      and open source!
    </p>
    <div class="mt-12">
      <h6 class="pb-4">Few technologies I enjoy working with:</h6>
      <div class="grid gap-3 grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        {
          techItems.map((item, index) => (
            <div class="tech-item" style={`animation-delay: ${index * 0.06}s`}>
              <i class="fas fa-arrow-right text-primary mr-3" />
              <span>{item}</span>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</PageLayout>

<style>
  .tech-item {
    opacity: 0;
    animation: fadein 0.4s ease forwards;

    & > i {
      transition: transform 0.2s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover > i {
        transform: translateX(5px);
      }
    }
  }
</style>
