---
import { getCollection } from 'astro:content';
import PageLayout from 'layouts/PageLayout.astro';
import PageSEO from 'components/PageSEO.astro';
import Heading from 'components/Heading.astro';
import PostList from 'components/PostList.astro';

const postEntries = await getCollection('blog', ({ data }) => data.draft !== true);

const sortedPosts = postEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout>
  <PageSEO title="Blog" slot="seo" />
  <Heading text="My Blog" highlight="Blog" />
  <div class="-mt-3">
    <PostList posts={sortedPosts} />
  </div>
</PageLayout>
