---
import { getCollection } from 'astro:content';
import PageLayout from 'layouts/PageLayout.astro';
import PageSEO from 'components/PageSEO.astro';
import Heading from 'components/Heading.astro';
import PostList from 'components/PostList.astro';

const postEntries = await getCollection('snippets', ({ data }) => data.draft !== true);

const sortedPosts = postEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout>
  <PageSEO slot="seo" title="Code Snippets" />
  <Heading text="Code Snippets" highlight="Snippets" />
  <div class="-mt-3">
    <PostList posts={sortedPosts} path="/snippets" />
  </div>
</PageLayout>
