---
import { getCollection } from 'astro:content';
import PostList from 'components/PostList.astro';

const postEntries = await getCollection('blog', ({ data }) => data.draft !== true);

const sortedPosts = postEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0, 2);
---

<section class="mb-14">
  <h2>Recent Posts</h2>
  <PostList posts={sortedPosts} />
  <div class="mt-5">
    <a href="/blog">View more</a><i class="fas fa-arrow-right text-primary ml-2"></i>
  </div>
</section>
