---
let children = await Astro.slots.render('default');
const hasPaddingBreakForChildren = children.includes('</pre>');

function extractProps(): any {
  // we use ;SOME_PROP; as as boundary for defining our props
  const regex = /;([^;\s]+);/;
  const matches = children.match(regex);
  if (matches) {
    children = children.replace(regex, '');
    const params = matches[1].split(',');
    return params.reduce((acc, cur) => {
      acc[cur] = true;
      return acc;
    }, {});
  }
  return {};
}

const { info: isInfoBlock } = extractProps();
---

<aside class:list={['my-5 callout', { 'disable-inner-break': hasPaddingBreakForChildren, info: isInfoBlock }]}>
  {
    isInfoBlock && (
      <div class="callout-icon">
        <svg
          width="22"
          height="22"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle cx="12" cy="12" r="10" fill="none" />
          <path d="M12 16v-4M12 8h.01" stroke="currentColor" />
        </svg>
      </div>
    )
  }
  <blockquote set:html={children} />
</aside>

<style>
  .callout {
    padding-left: 1rem;
    font-style: italic;
    color: theme('colors.text.bold');
    border-left: 3px solid theme('colors.primary.DEFAULT');
  }

  .callout.info {
    position: relative;
    padding: 1rem 1.3rem;
    font-style: normal;
    background-color: theme('colors.text.body' / 2%);
    border: 1px solid theme('colors.bg.border');
    border-radius: 6px;
    border-radius: 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .callout-icon {
    position: absolute;
    top: -16px;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    color: theme('colors.primary.DEFAULT');
    background: theme('colors.bg.body');
    border-radius: 50%;
  }

  .callout.disable-inner-break :global(div[data-rehype-pretty-code-fragment]) {
    margin-right: 0;
    margin-left: 0;
  }
</style>
