---
---

<back-to-top>
  <div class="justify-end pt-8 hidden">
    <button type="button" class="text-primary text-sm py-3 back-to-top" aria-label="Back to top">
      Back to top<i class="fas fa-arrow-turn-up ml-1"></i>
    </button>
  </div>
</back-to-top>

<script>
  class BackToTop extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      const scrollHeight = document.documentElement.scrollHeight;
      const clientHeight = document.documentElement.clientHeight;

      // don't show the button when content is not scrollable
      if (scrollHeight === clientHeight) return;

      const backToTopBtnWrapper = this.querySelector('div') as HTMLElement;
      backToTopBtnWrapper.style.display = 'flex';

      const backToTopBtn = this.querySelector('button') as HTMLElement;

      backToTopBtn.addEventListener('click', () => {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      });
    }
  }

  customElements.define('back-to-top', BackToTop);
</script>

<style>
  .back-to-top {
    & > i {
      transition: transform 0.2s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover > i {
        transform: translateY(-3px);
      }
    }
  }
</style>
