---
import { APP_CONFIG } from 'appConfig';
import Logo from './svg/Logo.astro';
---

<footer class="w-full border-t border-bg-border overflow-hidden">
  <div class="h-full max-w-3xl mx-auto flex items-center text-sm px-8 sm:px-6 [&>div]:flex-1">
    <div>
      <a
        class="unset text-lg icon-link"
        href={APP_CONFIG.USER.social.linkedin}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-linkedin" aria-hidden="true" title="LinkedIn"></i>
        <span class="sr-only">{APP_CONFIG.USER.shortName}'s LinkedIn</span>
      </a>
      <a
        class="unset text-lg icon-link ml-4"
        href={APP_CONFIG.USER.social.github}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-github" aria-hidden="true" title="GitHub"></i>
        <span class="sr-only">{APP_CONFIG.USER.shortName}'s GitHub</span>
      </a>
      <a class="unset text-lg icon-link ml-4" href="/rss.xml">
        <i class="icon-rss" aria-hidden="true" title="RSS feed"></i>
        <span class="sr-only">RSS feed</span>
      </a>
    </div>
    <div class="text-center md:hidden">
      Crafted with
      <i class="icon-heart text-[#f53f64]"></i>
      +
      <i class="icon-mug-hot"></i>
      +
      <a class="tracking-wider" href="https://astro.build/" rel="noopener noreferrer" target="_blank">Astro</a>
    </div>
    <div class="text-text-bold flex justify-end">
      <a class="unset text-primary" href="/">
        <Logo width="24" height="24" />
        <span class="sr-only">Home</span>
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
  }
</style>
