---
import { APP_CONFIG } from 'appConfig';
import Logo from './Logo.astro';
---

<footer class="w-full border-t border-text-body/10 overflow-hidden">
  <div class="h-full max-w-3xl mx-auto flex items-center text-sm px-8 sm:px-6 [&>div]:flex-1">
    <div>
      <a
        class="unset text-lg hover:text-text-link transition-colors duration-200"
        href={APP_CONFIG.USER.social.github}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
        <span class="sr-only">{APP_CONFIG.USER.shortName}'s GitHub</span>
      </a>
      <a
        class="unset text-lg hover:text-text-link transition-colors duration-200 ml-4"
        href={APP_CONFIG.USER.social.linkedin}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i>
        <span class="sr-only">{APP_CONFIG.USER.shortName}'s LinkedIn</span>
      </a>
      <a class="unset text-lg hover:text-text-link transition-colors duration-200 ml-4" href="/rss.xml">
        <i class="fas fa-rss" aria-hidden="true" title="RSS feed"></i>
        <span class="sr-only">RSS feed</span>
      </a>
    </div>
    <div class="text-center md:hidden">
      Crafted with
      <i class="fas fa-heart text-[#f53f64]"></i>
      +
      <i class="fas fa-mug-hot"></i>
      +
      <a class="tracking-wider" href="https://astro.build/" rel="noopener noreferrer" target="_blank">Astro</a>
    </div>
    <div class="text-text-bold flex justify-end">
      <a class="unset" href="/">
        <div class="animated-logo">
          <Logo width="24" height="24" />
        </div>
        <span class="sr-only">Home</span>
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
  }

  @media (hover: hover) and (pointer: fine) {
    .animated-logo:hover {
      backface-visibility: visible;
      animation-name: flip;
      animation-duration: 0.6s;
      animation-fill-mode: both;
      animation-delay: 0.2s;
    }
  }

  @keyframes flip {
    0% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }

    40% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 80px) rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }

    50% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 80px) rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }

    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }

    100% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
  }
</style>
