---
const { text, class: className, highlight } = Astro.props;

let newText = text;
if (highlight?.length) {
  if (Array.isArray(highlight)) {
    highlight.forEach(word => {
      newText = newText.replaceAll(word, `<span class="gradient-text">${word}</span>`);
    });
  } else {
    newText = newText.replaceAll(highlight, `<span class="gradient-text">${highlight}</span>`);
  }
}
---

<div class="overflow-hidden mb-6">
  <h1 class:list={['slideup-text', `${className || ''}`]} set:html={newText} />
</div>
