---
import 'theme/theme.css';
import 'theme/base.css';
import FontFace from 'components/FontFace.astro';
import Navbar from 'components/Navbar.astro';
import Footer from 'components/Footer.astro';
import { APP_CONFIG } from 'appConfig';

const isProd = import.meta.env.BUILD === 'production';
---

<!DOCTYPE html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="shortcut icon" href="/icons/logo.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <meta name="mask-icon" content="/icons/icon-512-512.png" color="#101822" />
    <meta name="theme-color" content="#101822" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <slot name="seo" />
    <script is:inline>
      // figure out user's preferred theme and set it as html class
      (function () {
        if (typeof window !== 'undefined') {
          const storageTheme = sessionStorage.getItem('theme');
          if (storageTheme) document.documentElement.setAttribute('data-theme', storageTheme);
        }
      })();
    </script>
    <FontFace />
    {isProd && <script src={`https://static.cloudflareinsights.com/beacon.min.js?token=${APP_CONFIG.CLOUDFLARE_ANALYTICS_TOKEN}`} defer />}
  </head>
  <body class="min-h-screen">
    <Navbar />
    <main id="main" class="w-full max-w-3xl mx-auto px-8 sm:px-6">
      <slot />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          'header'
          'main'
          'footer';
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
      }

      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
